.lang {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.lang:hover {
  opacity: 0.7;
  cursor: pointer;
}

.lang:active {
  padding: 1px;
}

.map {
  height: 300px;
  /* margin-left: 5%;
  margin-right: 5%; */
  margin: 0 5%;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.active-product {
  background-color: rgb(246, 249, 246);
  border: 1px solid green;
}

.inactive-product {
  background-color: rgb(247, 240, 240);
  border: 1px solid red;
}

.image {
  width: 100px;
  height: 100px;
}

/* ühele kindlale kohale CSS */