.pilt {
  width: 100px;
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nupp {
  border: 2px dotted green;
}

.nupp:hover {
  cursor: pointer;
  text-decoration: underline;
}

.kuldne {
  color: goldenrod;
}

.tume-leht {
  background-color: black;
  color: white;
}

.hele-leht {
  background-color: rgb(243, 238, 238);
}

.tume-leht, .hele-leht {
  min-height: 100vh; 
  /* min kõrgus on 100% ekraanist */
}

.aktiivne-nupp {
  height: 30px;
}

.aktiivne-toode {
  border: 1px solid green;
  background-color: rgb(243, 245, 243);
}

.mitteaktiivne-toode {
  border: 1px solid red;
  background-color: rgb(248, 244, 244);
}